<nav class="bg-gray-800 p-4">
  <div class="container mx-auto flex justify-between items-center">
    <!-- Logo -->
    <div class="text-white font-bold text-lg">Best Products</div>

    <!-- Links -->
    <div class="hidden md:block">
      <a
        class="text-gray-300 hover:text-white px-4"
        routerLink=""
        [ngClass]="{'font-bold':menuOption=='home'}"
        (click)="onOption('home')"
        >Home</a
      >
      <a
        routerLink="products"
        [ngClass]="{ 'font-bold': menuOption == 'products' }"
        (click)="onOption('products')"
        class="text-gray-300 hover:text-white px-4"
        >Products</a
      >
      <a
        routerLink="contact"
        [ngClass]="{ 'font-bold': menuOption == 'contact' }"
        (click)="onOption('contact')"
        class="text-gray-300 hover:text-white px-4"
        >Contact</a
      >
    </div>

    <!-- Responsive Button -->
    <div class="md:hidden">
      <button class="text-white focus:outline-none">
        <svg
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
          class="h-6 w-6"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M4 6h16M4 12h16M4 18h16"
          ></path>
        </svg>
      </button>
    </div>
  </div>
</nav>

<router-outlet />
